/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lora', serif;
	background-color: #FFFFE0;
}

form,
fieldset {
	display: flex;
	flex-direction: column;
}

fieldset {
	border: 0;
	padding: 0;
}

input:focus,
select:focus,
textarea:focus {
	background-color: #CCCCFF;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* =================================
  Base Layout Styles
==================================== */

.form-top {
	text-align: center;
	padding-bottom: 5%;
}

.form-top,
.main,
.footer {
	width: 90%;
	margin: 0 auto;
}

h1 {
	background-color: #191970;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding: 5% 5%;
	margin: 0 auto;
	font-size: 1.5em;
}

legend {
	font-size: 1.5em;
	color: black;
	padding: 6% 0 6% 0;
}

.form-top {
	border-bottom: 3px solid black;
	margin-bottom: 1%;
}

.form-top p {
	color: #B8B8B8;
}

form {
	border-top: 2px solid black;
}

select,
input,
textarea {
	width: 100%;
	margin: 1em 0;
}

#zip {
	display: block;
	width: 50%;
}

input,
select {
	background-color: #D3D3D3;
	color: #A9A9A9;
	padding: 3%;
	border-radius: 5px;
}

select {
	height: 3.5em;
}

textarea {
	background-color: #D3D3D3;
	color: #A9A9A9;
	padding: 3%;
	border-radius: 5px;
	height: 100px;
}

input[value="Required"] {
	text-align: right;
	font-style: italic;
	padding-right: 5%;
}

label[for="newsletter-format"],
label[for="topics"],
label[for="newsletter"] {
	padding: 3% 0;
}

.checkbox-bottom,
.radio-bottom {
	flex-direction: row;
}

.checkbox-bottom label,
.checkbox-bottom input,
.radio-bottom label,
.radio-bottom input {
	width: 3%;
	flex: 1;
}

.contact-info {
	border-bottom: 2px solid black;
	padding-bottom: 1.5em;
}

.newsletter-format {
	padding-top: 3%;
}

button {
	background-color: #40E0D0;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 5% 2%;
	font-size: 1.3em;
}

button:hover {
	background-color: tomato;
}

h6 {
	text-align: center;
	font-style: italic;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {


	.form-top,
	.main,
	.footer {
		width: 60%;
		margin: 0 auto;
	}

	form {
		margin-top: 5px;
	}

	.form-top {
		padding-top: 5%;
	}

	legend {
		padding: 8% 0 5% 0;
	}

	.form-top {
			padding: 3% 0;
	}

	.contact-info span {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	span label {
		width: 30%;
	}

	span input,
	span select {
		width: 70%;
	}

	button {
		padding: 3% 1%;
		font-size: 1.3em;
	}

}
